version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: order-service-postgres
    environment:
      POSTGRES_DB: order_db
      POSTGRES_USER: order_user
      POSTGRES_PASSWORD: order_pass
    ports:
      - "5466:5432"
    volumes:
      - order_postgres_data:/var/lib/postgresql/data
    networks:
      - order-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U order_user -d order_db"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  order_postgres_data:

networks:
  order-network:
    driver: bridge
