version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: auth-service-postgres
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
    ports:
      - "5462:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U auth_user -d auth_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  mockoon:
    image: mockoon/cli:latest
    container_name: user-service-mock
    command: ["--data", "/data/user-service-mock.json", "--port", "3001"]
    ports:
      - "3001:3001"
    volumes:
      - ./mockoon:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/health"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
