version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: payment-service-postgres
    environment:
      POSTGRES_DB: payment_db
      POSTGRES_USER: payment_user
      POSTGRES_PASSWORD: payment_pass
    ports:
      - "5433:5432"
    volumes:
      - payment_postgres_data:/var/lib/postgresql/data
    networks:
      - payment-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U payment_user -d payment_db"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  payment_postgres_data:

networks:
  payment-network:
    driver: bridge
